@charset "utf-8";
/* CSS Document */
body {
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	background:url(../images/bg2.png) repeat;
}

p {
    font-size:0.8em;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-weight:normal;
}

img {   
    border-style: none;
}

.wrapper {
	max-width:840px;
	margin:0 auto;
	background:rgba(255, 255, 255, 0.9); /* Fixed per professor's request */
}

.clear {
	clear:both;
}

/* Header */
#header_wrap {
    background:#222;
}
header {
	margin:0;
}

#logo {
	float:left;
	display:block;
	outline:none;
	margin:2%;
    width:26.19047619047619%;
    min-width:120px;
}

#logo img {
    width:100%;
}

/* Main Navigation */
nav {
	width:35.71428571428571%; /*300px*/
    margin-right:2%;
	float:right;
}

nav ul {
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

nav li {
	width:100px;
	float:right;
}

nav a {
	text-decoration:none;
	display:block;
	height:40px;
	line-height:2.5em;
	text-align:center;
	color:#F69;
	background:#333;
	border:#000;
}

nav a:hover {
	color:#F39;
	background:#555;
	border:#000;
}

/* Section */
section {
	background:url(../images/sectionbg2.png) repeat #DDD;
	overflow:hidden;
}

section h2 {
	font-size:2.5em;
	color:#333;
	text-shadow:1px 1px 4px #111;
	margin:0;
    font-weight:600;
}

section p {
	color:#333;
}

#c_left {
    width:30%;
    margin:3%;
    float:left;
}

section img {
	max-width:100%;
}

#c_right {
	margin:10%;
}

/* Section Button */
button, .button {
	-moz-box-shadow:inset 0px 1px 0px 0px #e49ff2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e49ff2;
	box-shadow:inset 0px 1px 0px 0px #e49ff2;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8ab3), color-stop(1, #d91c5b) );
	background:-moz-linear-gradient( center top, #ff8ab3 5%, #d91c5b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ab3', endColorstr='#d91c5b');
	background-color:#ff8ab3;
	text-indent:0;
	border:1px solid #d91c5b;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:1em;
	font-weight:bold;
	font-style:normal;
	height:3em;
	line-height:150%;
	width:50%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #660a2a;
}

button:hover, .button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d91c5b), color-stop(1, #ff8ab3) );
	background:-moz-linear-gradient( center top, #d91c5b 5%, #ff8ab3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d91c5b', endColorstr='#ff8ab3');
	background-color:#d91c5b;
}

button:active, .button:active {
	position:relative;
	top:2%;
}

/* Article */
article {
    width:95%;
    margin:0 auto;
}

article h2 {
    font-size:1.5em;
	color:#000;
	margin:1.5%;
}

article header {
	background:none;
}

.columns {
	padding:1.5%;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
}

.columns p {
	margin:0;
}

article ul {
	list-style:none;
	overflow:hidden;
}

article li {
	float:left;
	margin-right:3%;
	padding:1%;
    width:18.35443037974684%;
    min-width:100px;
}

article a {
	display:block;
}

article img {
    width:100%;
}

/* ASIDE */
aside {
	border-top:2px solid #AAA;
    width:95%;
    margin:5% auto;
}

aside h2 {
	font-size:1.5em;
	color:#000;
	margin:1.5%;
}

aside h3 {
	color:#000;
	margin:2%;
    font-weight:normal;
}

aside p {
	margin:0 20px 10px 20px;
}

/* Bottom Section */
#bottom {
    background: #444;
}

#bottom_wrap {
    width:95%;
    margin:0 auto;
    overflow:hidden;
}

#membership {
    width:47%;
    float:left;
    color:#FEFEFE;
}

#membership table {
    border-collapse: collapse;
    margin-bottom: 6%;
    empty-cells:hide;
    margin-top:3.0em;
}

#membership th {
    background:#EFEFEF;
    color:#333;
    font-size:1.6em;
    padding:0.4em;
    padding-bottom:0.2em;
    border-top-left-radius:0.6em 0.4em;
    border-top-right-radius:0.6em 0.4em;
    border-right:1px solid #444;
    line-height:0.8em;
    vertical-align:bottom;
    
}

#membership td {
    background:#565656;
    font-size:0.7em;
    text-align:center;
    padding:0.7em 1.7em;
    border-top:1px solid #777;
    border-right:1px solid #444;
}

#membership #star {
    background:#d91c5b;
    color:#eee;
}

#membership #star2 {
    background:#d91c5b;
    color:#eee;
}

#membership .header2 th {
    font-size:0.8em;
    border-top-left-radius:0;
    border-top-right-radius:0;
    padding-bottom:0.7em;
}

#signup {
    width:47%;
    float:right;
    color:#efefef;
}

#signup p {
    font-size:0.5em;
}

#signup label {
    font-size:0.6em;
}

#signup h2 {
    margin-bottom:0.1em;
}

#signup h4 {
    margin-top:0.2em;
    font-size:0.8em;
}

#signup .input {
    background:#565656;
    border:0.1em solid #777;

}

#signup .input1 {
    float:right;
    clear:right;
    width:95%;
}

#signup .input2 {
    float:right;
    clear:right;
    width:95%;
}

#signup select {
    background:#565656;
    border:0.1em solid #777;
    color:#eee;
}

#signup textarea {
    background:#565656;
    border:0.1em solid #777;

}

#signup textarea:focus {
    background:#888;

}

#signup checkbox {
    background:#565656;
    border:0.1em solid #777;

}

#signup .checkbox {
    float:left;
    clear:left;
}

#signup p {
    font-size:0.6em;
    float: left;
    margin: 0.3em;
}

#signup .input:focus {
    background:#888;
}

#signup input, label {
    display: inline-block;
    padding-right:0.4em;
}

#signup a {
    color:#d91c5b;
}

#signup button, .button {
    width:50%;
    margin:1em;
}

/* Footer */
footer {
	background:#222;
	padding:5px 10px;
}

footer p {
	color:#CCC;
	font-size:0.7em;
}

#facebook {
    position:relative;
    float:right;
    right:20px;
    top:-7px;
}

/* for 768 to 959px (tablet) displays */
@media screen and (min-width: 768px) and (max-width: 959px) {
    body {
        background:none;
    }
    
    section {
        background:#eee;
    }
    
    section h2 {
        font-size:2.1em;
        color:#333;
        text-shadow:none;
        margin:0;
        font-weight:600;
    }
}

/* for 480 to 767px (tablet) displays */
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background:none;
    }
    
    section {
        background:#eee;
    }
    
    section h2 {
        font-size:1.9em;
        color:#333;
        text-shadow:none;
        margin:0;
        font-weight:600;
    }
    
    article ul {
        width: 90%;
        margin: 0 auto;
    }
    article li {
        min-width:60px;
    }
    #signup {
        float:none;
        width:90%;
    }
    #membership {
        float:none;
        width:90%;
    }
}

/* for mobile displays */
@media screen and (max-width: 479px) {
    .columns {
        padding:1.5%;
        -moz-column-count:1;
        -webkit-column-count:1;
        column-count:1;
    }
    
    .columns p {
        padding-bottom:10px;
    }
    
    /* Section Button */
    button {
        color:#ffffff;
        font-family:Verdana;
        font-size:12px;
        font-weight:bold;
        font-style:normal;
        height:40px;
        line-height:14px;
        width:180px;
    }
    
    button:hover {
        background-color:#d91c5b;
    }
    
    button:active {
        position:relative;
        top:1px;
    }
    
    section img {
        display:none;
    }
    
    body {
        background:none;
    }
    
    section {
        background:#eee;
    }
    
    section h2 {
        font-size:1.8em;
        color:#333;
        text-shadow:none;
        margin:0;
        font-weight:600;
    }
    
    article ul {
        width: 70%;
        margin: 0 auto;
    }
    
    article li {
        min-width:100px;
    }
    #bottom {
        display:none;
    }
}